<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.therehabapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_22"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_22"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.CustomTheme">

        <activity android:name=".AddictionDiagnosis" />
        <activity android:name=".Introduction"/>
        <activity android:name=".SignUp"/>
        <activity android:name=".Login"/>
        <activity android:name=".TermsAndConditions"/>
        <activity android:name=".QuestionaireOptions"/>
        <activity android:name=".AnxietyQns"/>
        <activity android:name=".AnxietyQns2"/>
        <activity android:name=".AnxietyQns3"/>
        <activity android:name=".AnxietyQns4"/>
        <activity android:name=".AnxietyQns5"/>
        <activity android:name=".AnxietyQns6"/>
        <activity android:name=".AnxietyQns7"/>
        <activity android:name=".AnxietyQns8"/>
        <activity android:name=".AnxietyDiagnosis"/>
        <activity android:name=".AboutAnxiety"/>
        <activity android:name=".ThankYouNote"/>
        <activity android:name=".ProfileSetup"/>
        <activity android:name=".CarePacks"/>
        <activity android:name=".AddictionQns"/>
        <activity android:name=".AddictionQns2"/>
        <activity android:name=".AddictionQns3"/>
        <activity android:name=".AddictionQns4"/>
        <activity android:name=".AddictionQns5"/>
        <activity android:name=".AddictionQns6"/>
        <activity android:name=".AddictionQns7"/>
        <activity android:name=".AddictionQns8"/>
        <activity android:name=".AboutAddiction"/>
        <activity android:name=".EatingDisorderQns"/>
        <activity android:name=".EatingDisorderQns2"/>
        <activity android:name=".EatingDisorderQns3"/>
        <activity android:name=".EatingDisorderQns4"/>
        <activity android:name=".EatingDisorderQns5"/>
        <activity android:name=".EatingDisorderQns6"/>
        <activity android:name=".EatingDisorderQns7"/>
        <activity android:name=".EatingDisorderQns8"/>
        <activity android:name=".EatingDisorderDiagnosis"/>
        <activity android:name=".AboutEatingDisorder"/>
        <activity android:name=".DepressionQns"/>
        <activity android:name=".DepressionQns2"/>
        <activity android:name=".DepressionQns3"/>
        <activity android:name=".DepressionQns4"/>
        <activity android:name=".DepressionQns5"/>
        <activity android:name=".DepressionQns6"/>
        <activity android:name=".DepressionQns7"/>
        <activity android:name=".DepressionQns8"/>
        <activity android:name=".AboutDepression"/>
        <activity android:name=".DepressionDiagnosis"/>
        <activity android:name=".WelcomeNote"/>
        <activity android:name=".Home"/>
        <activity android:name=".Inbox"/>
        <activity android:name=".Gallery"/>
        <activity android:name=".Journal"/>
        <activity android:name=".NewNote"/>
        <activity android:name=".NewMessage"
            android:parentActivityName=".ContactsList"/>
        <activity android:name=".Messages"
            android:parentActivityName=".Home"/>
        <activity android:name=".ContactsList"
            android:parentActivityName=".Messages"/>
        <activity android:name=".AllPeers"/>
        <activity android:name=".PeerProfile"/>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>